<% include partials/header %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <div class="section no-pad-bot" id="index-banner">
    <div class="container text-center">
      <br><br>
      <h4>#localhost:3000</h4>
      <img style="width: 20%;" src="https://camo.githubusercontent.com/21397a4017b6e3d6b5400b29616df1696ffbff2d/68747470733a2f2f7261772e6769746875622e636f6d2f6d6c682d6e6f6964612d323031392f6c6f63616c6861636b6461792d7265736f75726365732f6d61737465722f6c6f63616c5f6861636b5f6461792e7376673f73616e6974697a653d74727565" alt="">
      <!-- <h1 class="header center orange-text">Starter Template</h1> -->
      <br><br>

      <div class="row center">
        <h5 class="header col s12 light" style="font-weight: 700;"><i><b>We are a team localhost:3000 working on this project in MLH Local Day Hackathon</b></i></h5>
      </div>
      <div class="text-center">
        <a href="/signup" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up Connectivity</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, provident aut qui architecto voluptatem cupiditate accusamus, dolorum incidunt deleniti cumque.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Explore More</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora neque itaque molestias harum? Aperiam minima harum iure alias asperiores, nemo ipsa, maiores velit? Repellendus architecto velit quas minus pariatur voluptates.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Work Together</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <% include partials/footer %>
